<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETC | Django One-Day Coding Challenge</title> 
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/college_logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>

    <div id="particles-js"></div> 
    <header>
        <div class="container">
            <div id="college_title">
                <div id="college_logo">
                    <a href="https://www.mvgrce.com/" target="_blank">
                        <img src="{% static 'images/college_logo.png' %}" alt="college_logo">
                    </a>
                </div>
                <div id="college_sub_title">
                    <h1>Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)</h1>
                    <h1 id="dept_name">Department Of Data Engineering</h1>
                </div>
                <div id="department_logo">
                    <a href="" target="_parent">
                        <img src="{% static 'images/department_logo.png' %}" alt="Department Logo"> 
                    </a>
                </div>
            </div>
        </div>
    </header>
    

    <section id="hero">
        <div class="hero-image-container">
          <img src="{% static 'images/django.png' %}" alt="Django">
          <img src="{% static 'images/python.webp' %}" alt="Python">
          <img src="{% static 'images/html.jpg' %}" alt="html"> 
          <img src="{% static 'images/css.jpg' %}" alt="Css">
          <img src="{% static 'images/js.png' %}" alt="js">

          <img src="{% static 'images/django.png' %}" alt="Django">
          <img src="{% static 'images/python.webp' %}" alt="Python">
          <img src="{% static 'images/html.jpg' %}" alt="html"> 
          <img src="{% static 'images/css.jpg' %}" alt="Css">
          <img src="{% static 'images/js.png' %}" alt="js">
        </div>
        <div class="container hero-text"> 
          <div class="hero-content">
            <h1 data-aos="fade-up">Django One-Day Coding Challenge</h1>
            <p data-aos="fade-up" data-aos-delay="200">Build Your Web App with Django</p>
            <a href="#register" class="btn" data-aos="fade-up" data-aos-delay="400">Register Now</a>
          </div>
        </div>
      </section>

    <section id="about">
        <div class="container">
          <h2 data-aos="fade-up">About the Challenge</h2>
          <p data-aos="fade-up" data-aos-delay="200" style="text-align: center; margin-bottom: 10px;">
            Ready to dive into the world of web development with Django? This challenge is your chance to learn the fundamentals and build a real-world web application in just one day! 
          </p>
      
          <h3 data-aos="fade-up" data-aos-delay="300">Event Structure:</h3>
          <div class="event-structure">
            <div class="session" data-aos="fade-up" data-aos-delay="400">
                <h4>Session 1: Django Fundamentals</h4>
                <ul>
                    <li>Introduction to HTML, CSS, JavaScript, and Django</li>
                    <li>Setting Up Your Django Project</li>
                    <li>Django MVT Architecture</li>
                    <li>Creating Models and Admin Interface</li>
                    <li>Handling Front-End Data with AJAX</li>
                </ul>
            </div>

            <div class="session" data-aos="fade-up" data-aos-delay="500">
                <h4>Session 2: Build & Deploy</h4>
                <ul>
                    <li>Teams will be formed and assigned a project</li>
                    <li>Apply your Django skills to build a functional web app</li>
                    <li>Learn to deploy your project on Render (free hosting)</li>
                </ul>
            </div>
          </div>

          <h3 data-aos="fade-up" data-aos-delay="600">Outcomes:</h3>
          <ul data-aos="fade-up" data-aos-delay="700">
            <li>Understand the power and efficiency of Django for web development</li>
            <li>Gain practical, hands-on experience in building a web application from scratch</li>
            <li>Learn deployment strategies to make your project live</li>
            <li>Network with peers and mentors, and get inspired!</li>
          </ul>
      
          <p data-aos="fade-up" data-aos-delay="800">
            Don't miss this opportunity to level-up your web development skills. Register now and get ready to code! 
          </p>
          <h3 data-aos="fade-up" data-aos-delay="600">Important Note:</h3>
          <p data-aos="fade-up" data-aos-delay="800">
            <strong>Limited spots available!</strong> 
            Due to classes on Saturday, we're holding a selection test to choose 
            <strong>8 exceptional participants</strong> for this exclusive coding challenge.  
            Selected students will receive attendance for the day. 
            Don't miss this chance to level up your skills! 
          </p>
        </div>
      </section>

    <section id="details" class="gradient-bg">
        <div class="container">
            <div class="details-grid">
                <div class="detail" data-aos="fade-up">
                    <i class="fas fa-calendar-alt"></i>
                    <h3>Date & Time</h3>
                    <p> 10 August From 9:00 AM </p>
                </div>
                <div class="detail" data-aos="fade-up" data-aos-delay="200">
                    <i class="fas fa-map-marker-alt"></i>
                    <h3>Venue *</h3>
                    <p>Seminar Hall</p>
                </div>
            </div>
        </div>
    </section>

    <section id="register">
        <div class="container">
          <h2 data-aos="fade-up">Register Now</h2>
          <p data-aos="fade-up" data-aos-delay="200">
            Secure your spot and be a part of this innovative experience!
          </p>
          <form action="{% url 'submit_registration' %}" method="post" class="registration-form" id="registration-form" data-aos="fade-up" data-aos-delay="300">
            {% csrf_token %} 
            <div class="form-group">
              <label for="student_name">Name *</label>
              <input type="text" id="student_name" name="student_name" required/>
            </div>
            <div class="form-group">
              <label for="register_number">Register Number *</label>
              <input type="text" id="register_number" name="register_number"required/>
            </div>
            <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" id="email" name="email"required/>
              </div>
            <div class="form-group">
              <label for="branch">Branch:</label>
              <select id="department" name="department" required>
                <option value="">Select Branch</option>
                <option value="CIC">CIC</option>
                <option value="CSM">CSM</option>
                <option value="CSD">CSD</option>
                </select>
            </div>
            <div class="form-group">
              <label for="year">Year:</label>
              <select id="year" name="year" required>
                <option value="">Select Year</option>
                <option value="1">1st Year</option>
                <option value="2">2nd Year</option>
                <option value="3">3rd Year</option>
                <option value="4">4th Year</option>
                </select>
            </div>
            <div class="submit">
                <button type="submit" class="btn">Register</button>
            </div>
          </form>
        </div>
      </section>
      <div id="overlay">
        <div id="overlay-content">
          <p id="overlay-message"></p> 
          <button onclick="hideOverlay()">OK</button>
        </div>
      </div>
      <div id="loading-overlay">
        <div id="loading-content">
            <div class="spinner"></div>
            <p>Loading...</p>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>© 2024 Department of Data Engineering, MVGR College of Engineering</p>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <script>
        function showOverlay(message) {
            document.getElementById('overlay-message').innerText = message;
            document.getElementById('overlay').style.display = 'block';
        }

        function hideOverlay() {
            document.getElementById('overlay').style.display = 'none';
        }

        function showLoading() {
            document.getElementById('loading-overlay').style.display = 'flex';
        }

        function hideLoading() {
            document.getElementById('loading-overlay').style.display = 'none';
        }

        document.getElementById('registration-form').addEventListener('submit', function(event) {
            event.preventDefault(); 

            const form = event.target;
            const formData = new FormData(form);

            showLoading();

            fetch(form.action, {
                method: form.method,
                body: formData 
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); 
            })
            .then(data => {
                hideLoading(); 
                if (data.success) {
                    form.reset();
                    showOverlay("Thanks for registering! Further details will be shared via email/WhatsApp.");
                } else {
                    showOverlay(data.message); 
                }
            })
            .catch(error => {
                hideLoading(); 
                console.error('Error during registration:', error);
                showOverlay('An error occurred during registration. Please try again later.');
            });
        });
      </script>
</body>
</html>